<h1>Upload files to your server</h1>
<br>
<h3>Secure password:</h1>
<input type="password" id="secure_password" required >
<br>
<br>
<br>
<h3>Files to upload:</h1>
<input type="file" id="file_input" multiple>
<br>
<br>
<button type="button" id="submit_file" class="btn btn-success">Upload</button>